# Cache, session files and logs
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Managed by Composer
/vendor/
composer.lock

# PHPUnit
/app/phpunit.xml
/phpunit.xml
.phpunit.result.cache
.php_cs.cache

# Embedded web-server pid file
/.web-server-pid
